<div class="container-fluid">
  <div class= "row">
    <div class= "col-md-10 offset1">
      <strong> Only for own use. </strong>
      <%= form_for(@search) do |f| %>
        <% if @search.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>
            <ul>
            <% @search.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <strong><%= f.label :title %></strong><br>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <strong><%= f.label :url %></strong>(Example: <%= link_to "search", "http://www.skyscanner.com.ua/transport/flights/kiev/cmb/140921/141105/airfares-from-kiev-to-colombo-bandaranayake-in-october-2014.html?rtn=1", target: "_blank" %>)<br>
          <%= f.text_field :url %>
        </div>
        <div class="actions">
          <%= f.submit "Start Search", id: "search_button" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
