<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @flight.title %>
</p>

<p>
  <strong>From:</strong>
  <%= @flight.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @flight.to %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @flight.start_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @flight.return_date %>
</p>

<p>
  <strong>Prices:</strong>
  <%= @flight.prices %>
</p>

<p>
  <strong>Return prices:</strong>
  <%= @flight.return_prices %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
